*, *::after, *::before {
    box-sizing:border-box;  
  }

/******************************/
/* ALGEMENE CUSTOM PROPERTIES */
/******************************/

:root {
    --main-color:#000000;
    --background-color:#ffffff;
    --secondary-color: #f5f5f5;
    --special-color: #a47a6a;
    --white-space:5vw;
}

/********************/
/* ALGEMENE STIJLEN */
/********************/

body{
    background-color:var(--background-color);
    color:var(--main-color);
    font-family:'Helvetica Neue';
    margin:0;
    padding: 0;
}

/********/
/* MENU */
/********/

header nav {
    background: var(--background-color);
    height: 100vh;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    transition: .3s;
    top: 0;
    width: 85%;
    z-index: 1000;
}

header.menuOpen nav{
    transform: translateX(0);
}

header div {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    transition: .3s;
    top: 0;
    visibility: hidden;
    z-index: 999;
}

header.menuOpen div {
    opacity: 1;
    visibility: visible;
}

header nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header nav li {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5em 1em 0;
    padding: 0;
    width: 90%;
}

header button {
    background-color: transparent;
    border: none;
}

header nav a {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    padding: 0;
}

/*************/
/* DE HEADER */
/*************/

.logo {
    display: flex;
    flex: 1;
}

header li {
    list-style-type: none;
    padding: 0 10px;
}

header li:first-of-type {
    flex-grow: 1;
    padding: 0;
}

header li:last-of-type {
    padding-right: 0;
}

header ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 var(--white-space);
    width: 100%;
}

/*******************/
/* NOTIFICATIE BAR */
/*******************/

header section p {
    background-color: var(--secondary-color);
    font-size: 12px;
    margin: 0;
    padding: 1.5em var(--white-space);
    text-align: center;
}

main {
    padding: 0 var(--white-space);
}

/******************/
/* FIND YOUR FAST */
/******************/

.findYourFast h1 {
    font-family: 'Futura-CondensedExtraBold';
    font-size: 48px;
    line-height: 1;
    margin: 0;
}

.findYourFast h1:first-of-type {
    margin-top: 0.5em;
}

.findYourFast p {
    line-height: 1.5;
    margin: 0.5em 0;
    width: 90%;
}

.findYourFast a:not(:first-of-type) {
    background-color: var(--main-color);
    border-radius: 2em;
    color: var(--background-color);
    display: inline-block;
    font-size: 16px;
    margin: 0.5em 0;
    padding: 0 30px;
    text-decoration: none;
}

.findYourFast a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/***********/
/* GEAR UP */
/***********/

.gearUp ul {
    list-style-type: none;
    padding: 0;
}

.gearUp h2 {
    font-weight: normal;
    margin-top: 5em;
}

.gearUp h3 {
    color: var(--special-color);
    font-size: 1em;
    font-weight: 500;
    margin: 1em 0 0;
    order: 2;
}

.gearUp h4 {
    color: var(--main-color);
    font-size: 1em;
    font-weight: 500;
    margin: 0.5em 0 0;
    order: 3;
}

.gearUp h5 {
    color: grey;
    font-size: 1em;
    font-weight: normal;
    margin: 0.5em 0 0;
    order: 4;
}

.gearUp p {
    color: var(--main-color);
    font-weight: 500;
    margin: 0.5em 0 0;
    order: 5;
}

.gearUp ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.gearUp li {
    scroll-snap-align: center;
}

.gearUp img{
   order: 1;
}

.gearUp a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

/*********/
/* NIEUW */
/*********/

.nieuw ul {
    list-style-type: none;
    padding: 0;
}

.nieuw a:not(:first-of-type) {
    background-color: var(--background-color);
    border-radius: 2em;
    bottom: 2em;
    color: var(--main-color);
    display: block;
    font-size: 16px;
    margin: 0.5em 1.5em;
    padding: .7em 30px;
    position: absolute;
    text-decoration: none;
}

.nieuw a:not(:first-of-type):hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.nieuw ul {
    display: flex;
    flex-direction: column;
}

.nieuw p {
    bottom: 4em;
    color: white;
    padding: 1em 1.5em 1.5em;
    position: absolute;
}

.nieuw a {
    bottom: 0;
}

.nieuw li {
    position: relative;
}

.nieuw img {
    margin-bottom: .5em;
}

.nieuw h2 {
    font-weight: normal;
    margin-top: 5em;
}

/**********************/
/* KIES EEN CATEGORIE */
/**********************/

.kiesEenCategorie ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 5em;
    padding: 0;
}

.kiesEenCategorie p {
    font-weight: bold;
}

/*************************/
/* SHOP HARDLOOPSCHOENEN */
/*************************/

.shopHardloopschoenen p:first-of-type {
    font-size: 14px;
    font-weight: 500;
}

.shopHardloopschoenen p:last-of-type {
    color: grey;
    font-size: 16px;
    padding: 1em 0 1em;
}
.shopHardloopschoenen h1 {
    font-size: 20px;
    font-weight: 500;
}

.shopHardloopschoenen ul {
    padding: 0;
}

.shopHardloopschoenen li {
    display: flex;
    flex-direction: row;
}

.shopHardloopschoenen h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 2em 0 0;
    padding: 0 2em 0;
    padding-left: 0;
}

.productenHardloopschoenen a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.productenHardloopschoenen ul {
    padding: 0;
    gap: 1em;
}

.productenHardloopschoenen .container1 {
    flex-direction: row;
}

.productenHardloopschoenen .container2 {
    flex-direction: row;
}

.productenHardloopschoenen li {
    list-style-type: none;
}

.productenHardloopschoenen img {
    order: 1;
}

.productenHardloopschoenen h3 {
    color: #FA5400;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0;
    order: 2;
}

.productenHardloopschoenen h4 {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0;
    order: 3;
}

.productenHardloopschoenen h5 {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
    order: 4;
}

.productenHardloopschoenen p {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    order: 5;
}

/**********/
/* FOOTER */
/**********/

footer {
    background-color: var(--main-color);
    position: absolute;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer p {
    color: var(--background-color);
    font-size: 14px;
    line-height: 1.5;
    margin: 2em 1em 1em;
}

footer svg {
    fill: grey;
    margin-top: 2em;
    margin-left: 1em;
}

.row {
    display: flex;
    flex-direction: row;
}

.locatie svg {
    fill: var(--background-color);
    margin: 0 1em;
}

.locatie ul {
    display: flex;
    flex-direction: row;
}

.locatie p {
    font-size: 10px;
    margin: 0;
}

.copyright p {
    color: grey;
    font-size: 12px;
}