*, *::after, *::before {
    box-sizing:border-box;  
  }

/******************************/
/* ALGEMENE CUSTOM PROPERTIES */
/******************************/
:root {
    --main-color:#000000;
    --background-color:#ffffff;
    --secondary-color: #f5f5f5;
    --special-color: #a47a6a;
  
    --white-space:5vw;
}

/********************/
/* ALGEMENE STIJLEN */
/********************/
body{
    margin:0;
    padding: 0;
    background-color:var(--background-color);
    font-family:'Helvetica Neue';
    color:var(--main-color);
}

/* titel */

/*************/
/* DE HEADER */
/*************/
.logo {
    display: flex;
    flex: 1;
}

header li {
    list-style-type: none;
    padding: 0 10px;
}

header li:first-of-type {
    flex-grow: 1;
    padding: 0;
}

header li:last-of-type {
    padding-right: 0;
}

header ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 var(--white-space);
    width: 100%;
}

/*************/
/* SECTION 1 */
/*************/

header section p {
    background-color: var(--secondary-color);
    font-size: 12px;
    margin: 0;
    padding: 1.5em var(--white-space);
    text-align: center;
}

main {
    padding: 0 var(--white-space);
}

/*************/
/* SECTION 2 */
/*************/

.section2 h1 {
    font-family: 'Futura-CondensedExtraBold';
    font-size: 48px;
    line-height: 1;
    margin: 0;
}

.section2 h1:first-of-type {
    margin-top: 0.5em;
}

.section2 p {
    line-height: 1.5;
    margin: 0.5em 0;
    width: 90%;
}

.section2 a {
    background-color: var(--main-color);
    border-radius: 2em;
    color: var(--background-color);
    display: inline-block;
    font-size: 16px;
    margin: 0.5em 0;
    padding: 0 30px;
    text-decoration: none;
}

.section2 a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*************/
/* SECTION 3 */
/*************/
ul {
    list-style-type: none;
    padding: 0;
}

h2 {
    font-weight: normal;
    margin-top: 5em;
}

h3 {
    color: var(--special-color);
    font-size: 1em;
    font-weight: 500;
    margin: 1em 0 0;
    order: 2;
}

h4 {
    color: var(--main-color);
    font-size: 1em;
    font-weight: 500;
    margin: 0.5em 0 0;
    order: 3;
}

h5 {
    color: grey;
    font-size: 1em;
    font-weight: normal;
    margin: 0.5em 0 0;
    order: 4;
}

.section3 p {
    color: var(--main-color);
    font-weight: 500;
    margin: 0.5em 0 0;
    order: 5;
}

.section3 ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.section3 img{
   order: 1;
}

.section3 a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
/*************/
/* SECTION 4 */
/*************/

.section4 a {
    background-color: var(--background-color);
    border-radius: 2em;
    bottom: 2em;
    color: var(--main-color);
    display: block;
    font-size: 16px;
    margin: 2em 1.5em;
    padding: .7em 30px;
    position: absolute;
    text-decoration: none;
}

.section4 a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.section4 ul {
    display: flex;
    flex-direction: column;
}

.section4 p {
    bottom: 4em;
    color: white;
    padding: 1em 1.5em 1.5em;
    position: absolute;
}

.section4 a {
    bottom: 0;
}

.section4 li {
    position: relative;
}

.section4 img {
    margin-bottom: .5em;
}

/*************/
/* SECTION 5 */
/*************/

.section5 ul {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
}

.section5 p {
    font-weight: bold;
}

/**********/
/* FOOTER */
/**********/

footer {
    background-color: var(--main-color);
    position: absolute;
    width: 100%;
}

footer p {
    color: var(--background-color);
    font-size: 14px;
    line-height: 1.5;
    margin: 2em 1em 1em;
}

footer svg {
    fill: grey;
    margin-top: 2em;
    margin-left: 1em;
}

.row {
    display: flex;
    flex-direction: row;
}

.section6 svg {
    fill: var(--background-color);
    margin: 0 1em;
}

.section6 ul {
    display: flex;
    flex-direction: row;
}

.section6 p {
    font-size: 10px;
    margin: 0;
}